* {
    box-sizing: border-box;
}
.row {
    margin: 0 -5px;
}
.column {
    float: left;
    width: 20%;
    padding: 0 10px;
    border-radius: 12px;
    border: 1px solid black;
    margin: 10px;
    height: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.card {
    padding: 16px;
    text-align: center;
}
.banner-image {
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
}
h2, h4{
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    text-decoration: underline;
    margin: 10px 0;
}
p{
    color: black;
    font-family: 'Arial', monospace;
    text-align: center;
    font-size: 0.7rem;
    line-height: 150%;
    letter-spacing: 1px;
    height: 100%;
}
img{
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}