*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, lightblue, lightcyan 100%);
}
/*
    linear-gradient - create a "light to dark effect"
*/
.container{
    max-width: 600px;
    background: lightgrey;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    box-shadow: 0 2px 2px 30px rgba(0,0,0,0.1);
}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.add{
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #9ad49a;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#h2{
    font-size: 25px;
    font-family: monospace;
}

/* New to-do's: */

.flex{
    display: flex;
    gap: 1.5rem;
}
.delete{
    text-decoration: none;
    display: inline-block;
    background: red;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    color: white;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input:focus{
    outline: 1px solid white;
}